<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Diploma Suite">
    <test name="Smoke">
        <classes>
            <class name="tests.gui.PositiveTests">
                <methods>
                    <include name="boundaryValuesTest"/>
                    <include name="hiddenTextTest"/>
                    <include name="addFullProjectTest"/>
                    <include name="addMilestoneTest"/>
                    <include name="deleteProjectTest"/>
                    <include name="dialogWindowTest"/>
                    <include name="fileUploadTest"/>
                </methods>
            </class>
            <class name="tests.api.ApiPostTests">
                <methods>
                    <include name="addProjectSimpleApiTest"/>
                    <include name="addProjectFullApiTest"/>
                    <include name="addProjectUsingJsonFileTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression">
        <classes>
            <class name="tests.gui.NegativeTests">
                <methods>
                    <include name="incorrectLoginTest"/>
                    <include name="dataExceedsTheLimitTest"/>
                    <include name="allureScreenshotTest"/>
                </methods>
            </class>
            <class name="tests.api.ApiGetTests">
                <methods>
                    <include name="getAllProjectsTest"/>
                    <include name="getProjectTest"/>
                    <include name="getMilestoneTest"/>
                    <include name="getUserSimpleTest"/>
                    <include name="getUserFullTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
