<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Diploma Suite">
    <test name="Smoke">
        <classes>
            <class name="tests.gui.PositiveTests">
                <methods>
                    <include name="addFullProjectTest"/>
                </methods>
            </class>
            <class name="tests.api.ApiPostTest">
                <methods>
                    <include name="addProjectUsingJsonFileTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression">
        <classes>
            <class name="tests.gui.NegativeTests">
                <methods>
                    <include name="incorrectLoginTest"/>
                </methods>
            </class>
            <class name="tests.api.ApiGetTest">
                <methods>
                    <include name="getAllProjectsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
